@media screen and (min-width: 1500px){
    .container {
        max-width: 1344px !important;
    }
}
@media screen and (min-width: 1280px){
    .container {
        max-width: 1152px;
    }
}
// .container {
//     max-width: 1400px;
// }
.col-2dot4, // extra small
.col-sm-2dot4, // small
.col-md-2dot4, // medium
.col-lg-2dot4, // large
.col-xl-2dot4 { // extra large
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
body {
    font-family: Raleway;
    font-size: 16px;
}
.text-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
}
.text-subtitle {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 10px;
}
.text-description {
    font-size: 18px;
    line-height: 40px;
}
.flex-center {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 767px) {
    .text-title {
        font-weight: 800;
        font-size: 26px;
        line-height: 31px;
    }
    .text-subtitle {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 5px;
    }
    .text-description {
        font-size: 16px;
        line-height: 32px;
    }
  }